<div class="container">

    <form class="form-signin">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Sign In</h1>
            <img src="view/images/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="用户名" autofocus ng-model='username'>
            <input type="password" class="form-control" placeholder="登录密码" ng-model='password'>

            <input class="btn btn-lg btn-login btn-block" type="button" ng-click="setLogin()" value="登 录">


        </div>

       <!--  Modal
       <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title">Forgot Password ?</h4>
                   </div>
                   <div class="modal-body">
                       <p>Enter your e-mail address below to reset your password.</p>
                       <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
       
                   </div>
                   <div class="modal-footer">
                       <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                       <button class="btn btn-primary" type="button">Submit</button>
                   </div>
               </div>
           </div>
       </div>
       modal -->

    </form>

</div>
